@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/SFPRODISPLAYLIGHTITALIC.OTF');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/SFPRODISPLAYREGULAR.OTF');
}
@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/SFPRODISPLAYMEDIUM.OTF');
}
@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/SFPRODISPLAYBOLD.OTF');
}
